extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          small &nbsp;Find all News here!

  // Breaking News Section
  #breaking-news
    .row
      .col-lg-6
        h1
          small &nbsp; Breaking News !!!!
    .row
      .col-xs-12.col-sm-8
        .row.list-group
          .col-xs-12.list-group-item
            h4
              a(href='/location') Historic Bilateral Trade Agreement Signed Between Global Superpower
              small &nbsp;

            p.address Info: In a landmark development, two major global powers have come to a historic trade agreement aimed at fostering stronger economic ties and international cooperation.
          .col-xs-12.list-group-item
            h4
              a(href='/location') Major Climate Accord Announced by Global Leaders at UN Summit
              small &nbsp;

            p.addressWorld leaders have come together at the UN Climate Summit to announce a groundbreaking climate accord aimed at achieving aggressive carbon reduction goals and combating the growing climate crisis
          .col-xs-12.list-group-item
            h4
              a(href='/location') Nationwide Voting Reforms Proposed to Enhance Democratic Process
              small &nbsp;

            p.address Info: In a landmark development, two major global powers have come to a historic trade agreement aimed at fostering stronger economic ties and international cooperation.

  // Entertainment Section
  #entertainment
    .row
      .col-lg-6
        h1
          small &nbsp; Entertainment
    .row
      .col-xs-12.col-sm-8
        .row.list-group
          .col-xs-12.list-group-item
            h4
              a(href='/location') Tollywood Sensation Announces Surprise Album Release
              small &nbsp;

            p.address  A popular Hollywood artist has taken fans by surprise by dropping an unexpected album, causing a frenzy of excitement among music enthusiasts.
          .col-xs-12.list-group-item
            h4
              a(href='/location') Salar
              small &nbsp;

            p.address relesing on dec 22 !!
  // Sports Section
  #sports
    .row
      .col-lg-6
        h1
          small &nbsp; Sports
    .row
      .col-xs-12.col-sm-8
        .row.list-group
          .col-xs-12.list-group-item
            h4
              a(href='/location') Virat's centuary 
              small &nbsp;

            p.address Virat Kohli is recognized as one of the most accomplished batsmen in the world. His ability to consistently score centuries has made him a prominent figure in international cricket. 
          .col-xs-12.list-group-item
            h4
              a(href='/location') Virat's centuary 
              small &nbsp;

            p.address Virat Kohli is recognized as one of the most accomplished batsmen in the world. His ability to consistently score centuries has made him a prominent figure in international cricket. 
          .col-xs-12.list-group-item
            h4
              a(href='/location') Virat's centuary 
              small &nbsp;

            p.address Virat Kohli is recognized as one of the most accomplished batsmen in the world. His ability to consistently score centuries has made him a prominent figure in international cricket. 
